{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderland</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<header class="bg-dark text-white text-center py-4">
    <h1 class="display-4">Bienvenido a Wonderland</h1>
</header>

<div class="container d-flex flex-column justify-content-center align-items-center my-5">
    <a href="https://github.com/feikgold/WonderlandPaginaExamen/releases/download/100/wonderland_et.apk" id="LinkDescarga" class="btn btn-danger btn-lg mb-4">
        Descargar APK
    </a>
    <img src="path_to_qr_code.jpg" alt="QR de Descarga" id="QRDescarga" class="img-fluid" style="max-width: 200px;">
</div>

<footer class="footer bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <!-- ¿Qué hacemos? -->
            <div class="col-lg-6 col-md-12 text-center text-lg-left mb-3">
                <h2 class="footer-title">¿Qué hacemos?</h2>
                <p>
                    ¡La música es el alma de la vida! En nuestra plataforma, te ofrecemos la oportunidad de descubrir y descargar álbumes de música de una amplia variedad de grupos y artistas de todos los géneros.
                </p>
            </div>
            <!-- Contáctanos -->
            <div class="col-lg-6 col-md-12 text-center text-lg-left mb-3">
                <h2 class="footer-title">Contáctanos</h2>
                <ul class="list-unstyled">
                    <li>Admisión: <a href="tel:+56227120640" class="footer-link">+56 2 2712 0640</a></li>
                    <li>WhatsApp: <a href="https://wa.me/56958142089" class="footer-link">+56 9 5814 2089</a></li>
                    <li>Correo: <a href="mailto:info@duoc.cl" class="footer-link">info@duoc.cl</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        © 2024 Wonderland - Todos los derechos reservados.
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>

</body>
</html>
