{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderland</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<header>
    <h1>Wonderland</h1>
</header>

<body>

<a href="" id="LinkDescarga" style="display: none;">
    descargar
</a>

<img src="" alt="Aca va un QR" id="QRDescarga" style="display: none;">

</body>

<footer >
    <div class="content">
        <h2>Acerca de Nosotros</h2>
        <p>
            Somos una aplicacion para poder descargar albumes de musica xd
        </p>
    </div>
</footer>

<script src="{% static 'js/home.js' %}"></script>

</html>
